<div class="container" style="width: 1024px; height: 768px; background-image: url(<%= image_path('quiz-card.jpg')%>); padding: 200px 100px; color: white;">

<div>
<h1 style="margin: 0;"><%= @movie.title  %></h1>
<h3><%= @question.content %></h3>

<li><%= @answer.content %></li>
<li><%= @answer.correct? %></li>
<p>
<p style="color:white;">[TODO: Make this all a partial]</p>
<a class="btn btn-sand" href='/levels/<%= @movie.level.id %>'>Select!</a>

</div>
</div>
