<div class="card level-border">
  <div data-toggle="collapse" data-target="#collapseExample-<%= level.id %>"  style="height: 100%;">
    <% img = "0" + level.number.to_s + ".jpg" %>
    <div class="card-image" style="background-image: url('<%= asset_path(img) %>');"></div>

    <div class="level_content">
      <h4><%= level.name %></h4>
    </div>
  </div>
  <!-- <img src="<%= @image %>"> -->
  <div class="collapse" id="collapseExample-<%= level.id %>">
    <div class="row">
      <div class="col-xs-6">
        <div class="level-details card-confetti-wrapper">
          <% if (@victory == true) && (level.number == current_user.level.number) %>
            <% for i in 0...30  %>
              <%= image_tag "confetti-#{i % 3}", class: "confetti-#{i}" %>
            <% end %>
          <% end %>
          <h4>Level Details</h4>
          <p> <%= Lens.find_by(id: level.id).description.split("<p>")[0] %></p>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="level-images card-confetti-wrapper">
          <% if @victory == true && level == current_user.level %>
            <% for i in 0...30  %>
              <%= image_tag "confetti-#{i % 3}", class: "confetti-#{i}" %>
            <% end %>
          <% end %>
          <% level.movies.each do |movie| %>
          <a href="/levels/<%= level.id %>"><%= image_tag movie.poster, class: "movie-poster" %></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
