<div class="card">
  <div data-toggle="collapse" data-target="#collapseExample-<%= level.id %>"  style="height: 100%;">
    <% img = "0" + level.number.to_s + ".jpg" %>
    <div class="card-image" style="background-image: url('<%= asset_path(img) %>');"></div>

    <div class="level_content">
      <h4><%= level.name %></h4>
    </div>
  </div>
  <!-- <img src="<%= @image %>"> -->
  <div class="collapse" id="collapseExample-<%= level.id %>">
    <div class="row">
      <div class="col-xs-6">
        <div class="level-details">
          <h4>Level Details</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="level-images">
          <% level.movies.each do |movie| %>
          <a href="/levels/<%= level.id %>"><%= image_tag movie.poster, class: "movie-poster" %></a>
          <% end %>
        </div>
          <%= link_to 'go to level', levels_show_path(level.id)  %>
      </div>
    </div>
  </div>
</div>
