<div class="answer-card" >
  <%= image_tag('quiz-card2-top', class: 'card-top') %>

    <div class="question-content">
      <h3><%= question.content %></h3>
      <% question.answers.each do |answer| %></h2>
        <li id="<%= answer.id %>"><%= link_to answer.content, answer_path(answer), remote: true %></li>
      <% end %>
    </div>
  <%= image_tag('quiz-card2-bot-3', class: 'card-bot') %>
</div>

