<div class="container text-center levels-container">
  <div class="row">
    <div class="col-12 flex-center-col">
      <div class="card level-card flex-center level-border level-card-width">
        <% img = "0" + @level.number.to_s + ".jpg" %>
        <div class="card-image" style="background-image: url('<%= asset_path(img) %>');"></div>
        <% image_tag "0" + @level.number.to_s + ".jpg" %>
          <div class="level-name">
            <h4><%= @level.name  %></h4>
          </div>
      </div>
    </div>
  </div>

  <div class="level-content text-center">
    
   <div class="lens-description">
     <h3>Lens description</h3>
     <p>The Hero's Journey operates as a circular story structure, meaning that the hero's physical journey will end where it began, though their internal journey as a character will leave them forever changed.</p>

    <p>This physical journey, in particular, will take your hero from a known world into an unknown one, often introducing them to new powers or skills or encouraging them to utilize known abilities like never before.</p>

    <p>With these two functions of The Hero's Journey in mind, it's easy to see how one of the core themes of any Hero's Journey story is transformation. Rarely do such stories feature a flat character arc, in which the protagonist fights to stay true to their beliefs rather than undergoing change as a result of new experiences.</p>
     <br>

    <div class="btn-center">
     <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#lensModal<%=  %>">
       Watch Lens
     </button>
     <%= link_to 'Movie Notes', "#" ,class: "btn btn-danger btn-danger-reverse btn-sm" %>
    </div>
   </div>

   <div class="modal fade" id="lensModal<%=  %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" id="myModalLabel"> The Hero's Journey</h4>
         </div>
         <div class="modal-body">
           <iframe width="1120" height="630" src="https://www.youtube.com/embed/Hhk4N9A0oCA?start=12" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
     <!--       <iframe width="560" height="315" src="https://www.youtube.com/embed/Hhk4N9A0oCA?start=12" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <%= link_to "Quiz", "#" ,class: "btn btn-danger btn-danger-reverse btn-sm" %>
         </div>
       </div>
     </div>
   </div>

   <div class="movies-section">
     <% @level.movies.each do |movie| %>
       <div class="movie-section">
         <div class="level-poster">
           <!-- <div>  </div> -->
           <%= image_tag movie.poster, class: "poster" %>
         </div>
         <div class="movie-info">
           <h3> <%= movie.title %> </h3>
           <p> <%= movie.description %> </p>
           <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal-<%= movie.id %>">
                Watch
              </button>
               <%= link_to "Quiz", quiz_path(movie.id) ,class: "btn btn-danger btn-danger-reverse btn-sm" %>

              <div class="modal fade" id="myModal-<%= movie.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"><%= movie.title %> </h4>
                    </div>
                    <div class="modal-body">
                      <iframe width="1120" height="630" src="https://www.youtube.com/embed/2WBG2rJZGW8?start=346" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                       <%= link_to "Quiz", quiz_path(movie.id) ,class: "btn btn-danger btn-danger-reverse btn-sm" %>
                    </div>
                  </div>
                </div>
              </div>

         </div>
       </div> 
     <% end %>
   </div>   
  </div>
</div>

<!-- Modal -->

