<div class="container text-center levels-container">
  <div class="row">
    <div class="col-12">
      <div class="card level-card">
        <% img = "0" + @level.number.to_s + ".jpg" %>
        <div class="card-image" style="background-image: url('<%= asset_path(img) %>');"></div>
        <% image_tag "0" + @level.number.to_s + ".jpg" %>
          <div class="level-name">
            <h4><%= @level.name  %></h4>
          </div>
      </div>
    </div>
  </div>

  <div class="level-content text-center">
    
   <div class="lens-description">
     <h3>Lens description</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br><br>

     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

     <%= link_to 'Movie Notes' %>
     <%= link_to 'Watch Lens' %>
   </div>

   <div class="movies-section">
     <% @level.movies.each do |movie| %>
       <div class="movie-section">
         <div class="movie-poster">
           <div> <%= image_tag movie.poster, class: "poster" %> </div>
         </div>
         <div class="movie-info">
           <h3> <%= movie.title %> </h3>
           <p> <%= movie.description %> </p>
           <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal-<%= movie.id %>">
                Watch
              </button>

              <div class="modal fade" id="myModal-<%= movie.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"><%= movie.title %> </h4>
                    </div>
                    <div class="modal-body">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/Dgwyo6JNTDA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       <%= link_to "Take Quiz", "#" ,class: "btn btn-default" %>
                    </div>
                  </div>
                </div>
              </div>

           <%= link_to "Take Quiz", "#" ,class: "btn btn-default btn-lg" %>
         </div>
       </div> 
     <% end %>
   </div>   

  </div>
</div>

<!-- Modal -->

